body {
  margin: 0;
   padding: 0;
  background-color: #CE9BFF;
  font-family: "Comic Sans MS", Courier, monospace;

}



#wrapper{
width: 100%;
margin-left: auto;
margin-right: auto;
}








header{
  height: 100px;
  width: 100%;
font-size: 50px;
text-align: center;

}

nav{
  height: 100px;
width: 100%;
font-size: 25px;
text-align: center;
}


main{
height: 50px;
width: 100%;



}

main{

  height: 400px;
  width: 100%px;

}

aside{
height: 400px;
width: 25%;


}

footer{

  height: 50px;
  width: 100%;

}

#container{
  display:flex;
}



/* unvisited link */
a:link {
  color: black;
text-decoration: none
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: cyan;
}

/* selected link */
a:active {
  color: black;

  h1,h2,h3{
    font-size: 30px;
  }

  .center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.center2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12.5%;
}

.center3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 32%;
}

.center4{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
}

.center5{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.center6{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h1,h2,h3{
  font-size: 29px;
}
